MONGODB_URI="<MONGODB_URI>"
MONGODB_DB="<MONGODB_DB>"
MONGODB_TEST_URI="<MONGODB_TEST_URI>"
MONGODB_E2E_URI="<MONGODB_E2E_URI>"
AUTH_SECRET="<AUTH_SECRET>"
AUTH_GITHUB_ID= "<AUTH_GITHUB_ID>"
AUTH_GITHUB_SECRET="<AUTH_GITHUB_SECRET>"
